/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

*{
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 색상 */
:root{
  --back-ground: #21555A;
  --title-right: #FF6060;
  --title-dark: #3B1111;
  --search-bar: #008080;
  --white: #fff;
}

/* 홈 이름 */
#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 6rem 0;
  background-color: var(--search-bar);
}
#header h1{
  font-weight: 800;
  font-size: 8rem;
  font-family: 'Tilt Neon', sans-serif;
  color: var(--title-right);
  transition: all 0.3s;
  cursor: pointer;
}
#header h2{
  font-weight: 800;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: var(--title-dark);
  transition: all 0.3s;
}

/* 메인 */
#main{
  padding-top: 3rem;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 검색 부분 */
#search-box{
  position: relative;
  display: flex;
  padding: 1rem;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-44%, 30%);
  border-radius: 20rem;
  transition: 0.4s;
  background-color: var(--search-bar);
}
#search-box:hover,
#search-box:focus-within{
  width: 400px;
}
#search-box .search-txt{
  padding: 0;
  background-color: transparent;
  color: var(--white);
  float: left;
  border: none;
  outline: none;
  width: 0;
  transition: .4s;
  font-size: 1.8rem;
  line-height: 1rem;
  transition: .4s;
}
#search-box:hover > .search-txt,
#search-box > .search-txt:focus{
  width: 300px;
  padding: 0 1rem;
  border-radius: 50%;
}
#search-box .search-btn{
  width: 50px;
  background-color: var(--search-bar);
  border-radius: 50%;
}
#search-box .search-icon{
  width: 100%;
  height: 100%;
  padding: 1rem 0 1rem 2.5rem;
}
#search-box .search-txt::placeholder{
  color: var(--white);
}

/* 영화 리스트 부분 */
#card {
  margin: 8rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 45rem;
  grid-gap: 2.5rem;
}
#movie-card-wrap {
  padding: 1rem;
  border-top: 2px solid var(--search-bar);
  border-bottom: 2px solid var(--search-bar);
  background-color: var(--title-dark);
}
#movie-card-wrap .img {
  overflow: hidden;
  border-radius: 1rem;
}
#movie-card-wrap .movie-img{
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
  transition: .3s;
}
#movie-card-wrap .img:hover .movie-img,
#moive-card-wrap .img:focus .movie-img{ 
  transform: scale(1.1);
}
#movie-card-wrap .movie-title{
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem;
}
#movie-card-wrap .movie-content{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem;
  overflow: auto;
  overflow-x: hidden;
  height: 170px;
  opacity: 0.6;
}
#movie-card-wrap .movie-content::-webkit-scrollbar{
  width: 0.6rem;
  /* background-color: var(--title-right); */
}
#movie-card-wrap .movie-content::-webkit-scrollbar-thumb{
  background-color: var(--title-right);
  border-radius: 2rem;
}
#movie-card-wrap .movie-content::-webkit-scrollbar-track{
  background-color: var(--white);
}
#movie-card-wrap .rating {
  display: flex;
  margin: 1rem;
}
#movie-card-wrap .rating .rating-icon{
  background-image: url("../icon/free-icon-font-trophy-3915001.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}
#movie-card-wrap .rating .movie-rating{
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem;
  overflow: scroll;
  height: 170px;
  margin-left: 1.5rem;
}

/* 페이지네이션 */
